/* styles.css */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('/images/gambar.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}

.containerFirst {
    background-color: rgba(255, 255, 255, 0.7); /* Warna latar belakang konten */
    padding: 20px;
    margin: 50px auto;
    max-width: 800px;
    border-radius: 10px;
}
